
.headerNav{
    background-color: green;
    height: 9.2vh;
    background-color:  rgb(74, 172, 197);
    background-image: linear-gradient(to right, rgba(92, 25, 175, 0.893), rgba(47, 44, 226, 0.927));
    margin-top: -1em;
    
}


.logoBox{
    display: flex;
    width: 23.7em;
    height: 3.5em;
    margin: 0 5% 0 -9.4%;
    
}

.logoBox img {
    max-width: 100%;
    max-height: 98%;
}

.menuCenter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
}

p{
    color: #271603d7;

    font-size: large;
}